@media (max-width:576.99px) {
    /* header part start */
    .section-h1 {
        font-size: 50px;
    }
    header{
        padding-top: 15px;
    }
    .navbar {
        flex-direction: column;
        row-gap: 40px;
    }
    .navbar nav ul {
       flex-direction: column;
    }
    /* header part end */
    /* banner part start */
    .banner-container{
        height: auto;
    }
    .banner-content .banner-text{
        padding: 50px 0;
    }
    .banner-text .search-panel{
        background: none;
        backdrop-filter: blur(0px);
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /* banner part end */
}
@media (min-width:577px) and (max-width:767.99px) {
    .section-h1 {
        font-size: 55px;
    }
    .section-p {
        padding: 20px 0;
    }
    header{
        padding-top: 15px;
    }
    .navbar {
        flex-direction: column;
        row-gap: 40px;
    }
    .navbar nav ul {
       flex-direction: column;
    }
    /* header part end */
     /* banner part start */
     .banner-container{
        height: 420px;
    }
    .banner-content .banner-text {
        max-width: 585px;
        padding: 20px 0;
    }
    .search-panel {
        width: 98%;
        gap: 12px;
        padding: 12px;
        margin: 0 auto;
    }
    .search-panel input, 
    .search-panel select,
     .search-panel button {
        width: 118px;
    }
   
     /* banner part end */

}
@media (min-width:768px) and (max-width:991.99px){
    /* header part start */
    header{
        padding-top: 15px;
    }
    .navbar {
        flex-direction: column;
        row-gap: 40px;
    }
    .navbar nav ul {
       flex-direction: column;
    }
    /* header part end */
}
@media (min-width:992px) and (max-width:1199.99px){
    
}
@media (min-width:1200px) {
    
}