@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
body{
    font-family: "Mulish", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
:root{
    --promary-color:#131318;
    --secondary-color:#rgba(19, 19, 24, 0.7);
    --btn-color:#ff5400;
    --input-color:rgba(19, 19, 24, 0.5);
    --white:#FFFFFF;
    --nav-link:#424247;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    display: inline-block;
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    border: 1px solid green;
    padding: 0 10px;
}
.section-h1{
    font-size: 64px;
    font-weight: 900;
    color: var(--white);
    line-height: auto;
}
.section-h2{
    font-size:40px ;
    font-weight: 900;
    color: var(--promary-color);
    text-transform: capitalize;
}
.section-h3{
    font-size: 28px;
    font-weight: 800;
    color: var(--white);
    text-transform: capitalize;
}
.section-h4{
    font-size: 24px;
    font-weight: 900;
    color: var(--promary-color);
    text-transform: capitalize;
}
.section-p{
    font-size: 16px;
    font-weight: 400;
    column-rule-color: var(--secondary-color);
    line-height: 26px;
    padding: 13px 0;
}
.section-p2{
    font-size: 16px;
    font-weight: 400;
    column-rule-color: var(--promary-color);
    line-height: 26px;
    padding: 13px 0;
}
.nav-link{
    font-size: 18px;
    font-weight: 400;
    color:var(--nav-link);
    text-transform: capitalize;
}
.common-btn{
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
    background-color: var(--btn-color);
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    text-transform: capitalize;
}
.trip-overview{
    font-size: 16px;
    font-weight: 400;
    color: #5A5A5D;
}
.price{
    font-size: 20px;
    font-weight: 900;
    color: var(--btn-color);
    text-transform: capitalize;
}